  <div style="page-break-before: always;">
    <h2 class="mt-4">חלק ג' - הכר את הסוכן ביטוח פנסיוני</h2>
  <h3 class="mt-3">1. פרטי הסוכן הפנסיוני</h3>
  
  <div style="margin-top: 40px; line-height: 2;">
    <div>שם מלא: עומר בן-צבי</div>
    <div>מספר רשיון פנסיוני: 034458497</div>
    <div>מספר טלפון: 054-4411730</div>
    <div>כתובת מייל: OMER@BENZVI.BIZ</div>
    <div>כתובת: הבוטנים 34 פרדס חנה כרכור</div>
    <div>האם פועל במסגרת חברה? לא</div>
   </div>
  
  <div style="margin-top: 30px;">
    <h3><strong>2. גילוי נאות</strong></h3>
    <p>למה? חשוב שתכיר את ההסכמים שלי עם הגופים המוסדיים, כדי שתבין מהם הקשרים שלי למוצרים ולגופים המוסדיים השונים</p>
    
    <div style="margin-top: 20px; line-height: 2;">
      <div><strong>■ סוכן ביטוח פנסיוני :</strong></div>
      <div>☐ אני מקבל שכר מהגוף המוסדי _________ שבו אני עובד</div>
      <div>☑ אני מקבל עמלה מהגופים המוסדיים שאני משווק את מוצריהם</div>
      <div>☐ אני סוכן ביטוח שכיר מתוגמל ע"י סוכנות לביטוח שבה אני עובד וממנה מקבל שכר</div>
    </div>
    
    <div style="margin-top: 50px; line-height: 1.6;">
      <p>להלן רשימת הגופים המוסדיים העיקריים שאת מוצריהם שיווקתי בשנת 2023</p>
      <p>- הרשימה מסודרת משיעור העמלות הגבוה ביותר לנמוך ביותר, כאשר מהגוף המופיע במקום ה-1 קיבלתי את מירב העמלות.</p>
      
      <table style="width: 100%; border-collapse: collapse; margin-top: 20px; border: 1px solid #000; font-size: 10pt;">
        <thead>
          <tr style="background-color: #f2f2f2;">
            <th style="border: 1px solid #000; padding: 8px; text-align: center;">מיקום</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: center;">שם חברת ביטוח</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: center;">שם קופת גמל</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: center;">שם קרן פנסיה</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: center;">שם קרן השתלמות</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;">1</td>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;">הפניקס</td>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;">הפניקס</td>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;">הראל</td>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;">הפניקס</td>
          </tr>
          <tr>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;">2</td>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;">הראל</td>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;">מור</td>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;">מור</td>
          </tr>
          <tr>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;">3</td>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;">מגדל</td>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;">אלטשולר שחם</td>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: center;">אלטשולר שחם</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div style="margin-top: 80px;">
    <h3><strong>3. מכירת מוצרים ללקוח שאינם פנסיוניים</strong></h3>
    <p>במסגרת פגישת השיווק נמכרו ללקוח מוצרי ביטוח שאינם פנסיוניים כמפורט להלן</p>
    
    <table style="width: 100%; margin-top: 20px; border-collapse: collapse; font-size: 10pt;">
      <thead>
        <tr style="border-bottom: 1px solid #000;">
          <th style="text-align: right; padding: 8px 0;">סוג מוצר</th>
          <th style="text-align: right; padding: 8px 0;">עלות מוצר</th>
          <th style="text-align: right; padding: 8px 0;">גורם משלם (מעסיק\לקוח)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="padding: 8px 0; border-bottom: 1px solid #eee;"></td>
          <td style="padding: 8px 0; border-bottom: 1px solid #eee;"></td>
          <td style="padding: 8px 0; border-bottom: 1px solid #eee;"></td>
        </tr>
      </tbody>
    </table>
    
    <p style="margin-top: 20px; font-style: italic;">
      מוצרי הביטוח אשר נמכרו לך במסגרת פגישת שיווק ומוצגים ברשימה שלעיל אינם מוצרים פנסיוניים, 
      ואינם מהווים חלק מתהליך השיווק או מותנים בו
    </p>
  </div>
